{% load static %}
<footer>
    <ul>
        <li class="foot-head">M.A.M</li>
        <li><a class="footer_link btn py-0" href="#">FAQs</a></li>
        <li><a class="footer_link btn py-0" href="#">Templates</a></li>
        <li><a class="footer_link btn py-0" href="#">Team</a></li>
    </ul>
    <ul>
        <li class="foot-head">HELP & RESOURCES</li>
        <li><a class="footer_link btn py-0" href="#">Contact</a></li>
        <li><a class="footer_link btn py-0" href="#">Help</a></li>
        <li><a class="footer_link btn py-0" href="#">Blog</a></li>
    </ul>
    <ul>
        <li class="foot-head">COMMERCIAL</li>
        <li><a class="footer_link btn py-0" href="#">Leaders</a></li>
        <li><a class="footer_link btn py-0" href="#">Custom template</a></li>
    </ul>
    <ul>
        <li class="foot-head">CREATED BY<br>GRAPHIX PRIME</li>
        <li>Dedicated to quality, excellence and innovation. Visit <a target="_blank" href="http://ayokunnuabiola.liveblog365.com/?i=1">us here</a> for more amazing experiences.<br>Copyright 2023 © Graphix Prime</li>
    </ul>
</footer>